.allProductsDiv{
    display: flex;
    width: 70%;
    justify-content: start;
    align-items: start;
    /* background-color: aquamarine; */
}
.filtersDiv{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start!important;
    width: 30%;
    /* height: 100px; */
    background-color: rebeccapurple;
}
.rightDiv{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
.topDiv_in_rightDiv{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.topDiv_in_rightDiv select{
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.topDiv_in_rightDiv_subDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.allProductsGrid{
    display: grid;
    width: 90%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 15px;
  }

  .allProductsGrid_item {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    width: 230px;
    height: 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    gap: 10px;
    border: 1px solid lightgray;
    
  }
.allProductsGrid_item:hover{
    border: 1px solid #11847F;
    cursor: pointer;
}
.BPG_img{
    width: 100%;
    height: 50%;
}
.BPG_title{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}
.BPG_subDIv{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.discountBG{
    display: flex;
    justify-content: left;
    width: 65px;
    background-image: url('../images/logo_icons/discount_background.png');
    background-repeat: no-repeat;
    font-size: 12px;
    padding: 2px 3px;
    color: white;
}
.BPG_price{
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    margin-top: -10px;
    text-align: left;
}
.BPG_addToCartBtn{
    display: flex;
    width: 90%;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: #11847F;
    color: white;
}
.lineThrought{
    text-decoration: line-through;
}
.BPG_OriginalPrice{
    color: gray;
}
.veryBigFont{
    font-size: 28px;
    font-weight: 600;
}
  @media screen and (max-width: 768px) {
    .allProductsGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }